REPO_URL=https://github.com/demget/coda
RUNNER_NAME=atlas-coda-grok
# Fine-grained PAT on demget/coda with Administration: Read and write
# (register/unregister self-hosted runners). Do not use a Grok token here.
ACCESS_TOKEN=
